@import url("font-awesome.min.css");

@import
	url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800")
	;

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	letter-spacing: 2px !important;
	text-decoration: none !important;
	text-transform: uppercase !important;
	font-weight: 400 !important;
	color: white !important;
}

#nav {
	color: white;
	height: 4em;
	background-color: rgba(0, 0, 0, 0.5);
	border-color:;
	margin-bottom: 0px;
	border: 0px;
}

#lista {
	padding-left: 132px;
}

#cuerpo {
	background-image: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#center {
	
}

#cleaner {
	clear: both;
}

.loginnavbar {
	margin-left: 233px;
}

#producthome {
	background-color: hsla(0, 0%, 0%, 0.65);
	text-align: center;
	letter-spacing: 2px !important;
	text-decoration: none !important;
	text-transform: uppercase !important;
	font-weight: 400 !important;
	color: white !important;
	width: 29%;
	margin-right: 30px;
	margin-top: 30px;
}

#productver {
	background-color: hsla(0, 0%, 0%, 0.65);
	text-align: center;
	letter-spacing: 2px !important;
	text-decoration: none !important;
	text-transform: uppercase !important;
	font-weight: 400 !important;
	color: white !important;
	margin-right: 30px;
	margin-top: 30px;
}

#rowprod {
	width: 90%;
	margin: auto;
}

#rowprodview {
	width: 60%;
	margin: auto;
}

.formuproduct {
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.51);
	width: 80%;
	margin: 0 auto;
	margin-top: 55px;
}

.formuproduct2 {
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.51);
	width: 80%;
	margin: 0 auto;
	margin-top: 55px;
}

input[type="text"] {
	moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	background: rgb(12, 11, 16);
	border: solid 1px #ffffff;
	color: white;
	display: block;
	outline: 0;
	padding: 0.75em;
	text-decoration: none;
	width: 100%;
}

#prodtitleventa {
	color: white;
	font-size: 25px;
	text-align: center;
}

#status {
	color: green;
	font-size: 15px;
	text-align: center;
}

textarea:focus, input:focus {
	color: #ffffff;
}

#registproductbutton {
	background: none;
	border-radius: none;
	border: 2px solid;
	border-color: #ffffff;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	/* padding: 0.90em 1.2em; */
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	width: 100%;
}

#insertDiv {
	width: 50%;
	margin: 0 auto;
}

.tituProduct {
	background-color: rgba(215, 212, 0, 0.4);
	padding: 9px;
	width: 24%;
	/* text-align: center; */
	margin: 0 auto;
	margin-top: 16px;
}

.tituProducthome {
	background-color: rgba(215, 212, 0, 0.4);
	/* padding: 9px; */
	/* width: 24%; */
	/* text-align: center; */
	/* margin: 0 auto; */
	margin-top: 16px;
}

.tituProduct {
	padding: 24px;
}

.categoriaProduct {
	padding: 24px;
}

.emailProduct {
	padding: 24px;
}

.holaprofile {
	text-align: center;
	/* margin-top: 20px; */
	marign: 0 auto;
	margin: 0 auto;
	margin-top: 30px;
	width: 39%;
	background-color: hsla(78, 24%, 37%, 0.72);
	padding: 20px;
}

#textadmin {
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	background: none;
	border: solid 1px #ffffff;
	color: inherit;
	display: block;
	outline: 0;
	margin: 0 auto;
	padding: 11px;
	text-decoration: none;
	width: 71%;
	color: white;
}

#productadm {
	width: 60%;
	background: rgba(45, 45, 38, 0.82);
	margin: 0 auto;
	margin-top: 42px;
	margin-bottom: 40px;
}

#editDiv {
	width: 25%;
	margin: 0 auto;
	margin-top: 16px;
	/* margin-bottom: 16px; */
	padding-bottom: 30px;
}

#prodedit {
	padding: 20px;
	color: white;
	font-size: 25px;
	text-align: center;
}

#centrador {
	text-align: center;
}

#producthome2 {
	text-align: center;
	letter-spacing: 2px !important;
	text-decoration: none !important;
	text-transform: uppercase !important;
	font-weight: 400 !important;
	color: white !important;
	width: 100%;
	margin-right: 30px;
	margin-top: 30px;
}

#leerButton {
	background: rgba(44, 90, 44, 0.22);
	border-radius: none;
	border: 2px solid;
	border-color: #ffffff;
	color: #ffefef;
	cursor: pointer;
	display: inline-block;
	/* padding: 0.90em 1.2em; */
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
	width: 50%;
}

#imgSubida {
	width: 151px;
	height: 151px;
}

#estado {
    -webkit-appearance: none;
    background: rgba(10, 10, 9, 0.52);
    border: solid 1px #ffffff;
    color: inherit;
    display: block;
    outline: 0;
    margin: 0 auto;
    padding: 11px;
    text-decoration: none;
    width: 71%;
    color: #fbfbfb;
}